header {
  position: fixed;
  background-color: #161b22;
  border-bottom: 2px solid #0d1117;
  font-family: Oswald, sans-serif;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

menu {
  display: flex;
  gap: 20px;
}

img {
  height: 16px;
  width: 16px;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.item {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item:hover {
  transform: scale(1.1);
}

.burger {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -15px;
  padding: 20px 50px;
  background-color: #161b22;
}

.none {
  display: none;
}

@media all and (max-width: 360px) {
  .header {
    position: relative;
  }

  .burger {
    display: flex;
    align-items: center;
    position: relative;
    height: 13px;
    width: 25px;
    cursor: pointer;
  }

  .burger:after {
    position: absolute;
    top: 0;
    background: #fff;
    content: '';
    height: 2px;
    width: 100%;
  }

  .burger:before {
    position: absolute;
    bottom: 0;
    background: #fff;
    content: '';
    height: 2px;
    width: 100%;
  }

  .burger span {
    height: 2px;
    width: 100%;
    background: #fff;
  }

  menu {
    display: none;
  }
}
